#Ignore Mac files
.DS_Store

#Ignore py cache folder
**/__pycache__

#Ignore vs code folder
.vscode

#Ignore virtual environment folder
venv

#Ignore logs folder
logs

#Ignore User content folder
**/user-content

#Ignore SQL Alchemy db files
*.db

#Ignore transaction data xlsx
*.xls

#Ignore config file
*.env

#Ignore user details file
**/users.txt

#Ignore files
/appDir/**/d3.v4.min.js
/appDir/**/moment.min.js
/appDir/**/moment-timezone-with-data-1970-2030.min.js
/appDir/static/.webassets-cache