{% extends "main/base.html" %}

{% block content %}

<div class="level-container" id="level-1">
    <div>
        <script>
            var modals = [];
            var modalCloses = [];
        </script>
        {% for message in get_flashed_messages(with_categories=True) %}
            {% if message %}
                <div class="flash-msg {{ message[0] }}" id="modal-{{ loop.index }}">
                    <div style="padding: 10px;">{{ message[1] }}</div>
                    <div class="flash-msg-modal-close" id="modal-close-{{ loop.index }}">&times;</div>
                </div>
            {% endif %}
            <script>
                modalCloses["{{ loop.index }}"] = document.querySelector("#modal-close-{{ loop.index }}");
                modals["{{ loop.index }}"] = document.querySelector("#modal-{{ loop.index }}");
    
                function toggleFlashModal(){
                    modals["{{ loop.index }}"].parentNode.removeChild(modals["{{ loop.index }}"]);
                }
    
                modalCloses["{{ loop.index }}"].addEventListener("click", toggleFlashModal);
    
            </script>
        {% endfor %}
    </div>

    <div class="data-type-title" id="title-1">
        <div style="font-size: 20px; font-weight: 400;">
            Daily Transactions <span id="txn-data-for">(for {{ data_for }})</span>
        </div>

        <form class="date-picker-form" id="monthly-categories" novalidate>
            {{ form1.csrf_token }} 
            {{form1.selectMonth(class_ = 'datepicker', type='month') }} 
            {% if form1.errors %} 
                {{form1.errors }} 
            {% endif %} 
            {{ form1.submit( class_ = "button submit-btn" ) }}
        </form>
    </div>

    <div class="data-type-container">
        <div class="data-container">
            <div class="summary-stats">
                <div class="stats" id="stats-11">
                    <div class="stat-title">Income</div>

                    <div class="stat-num" id="txn-income">₹ {{ monthly_num["income"] | int }}</div>

                    <div class="stat-change">
                        {% set income_per = '%0.1f'|format(monthly_num["income-mom-percent"]|abs) %}
                        <div class="change-caret" id="txn-income-caret">
                            {% if monthly_num["income-mom-percent"] >= 0 %}
                                {% set color = "#00C013" %}
                                <img src="{{ url_for('static', filename = 'icons/caret--up.svg') }}" alt="Increase" width="24" height="24" align="middle">
                            {% else %}
                                {% set color = "#C00000" %}
                                <img src="{{ url_for('static', filename = 'icons/caret--down.svg') }}" alt="Increase" width="24" height="24" align="middle">
                            {% endif %}
                        </div>

                        <div class="change-num" id="txn-income-percent"><span class="change-number" style="color: {{ color }};">{{ income_per }} %</span> MoM</div>
                    </div>
                </div>

                <div class="stats" id="stats-12">
                    <div class="stat-title">Expense</div>

                    <div class="stat-num" id="txn-expense">₹ {{ monthly_num["expense"] | int }}</div>

                    <div class="stat-change">
                        {% set expense_per = '%0.1f'|format(monthly_num["expense-mom-percent"]|abs) %}
                        <div class="change-caret" id="txn-expense-caret">
                            {% if monthly_num["expense-mom-percent"] >= 0 %}
                                {% set color = "#00C013" %}
                                <img src="{{ url_for('static', filename = 'icons/caret--up.svg') }}" alt="Increase" width="24" height="24" align="middle">
                            {% else %}
                                {% set color = "#C00000" %}
                                <img src="{{ url_for('static', filename = 'icons/caret--down.svg') }}" alt="Increase" width="24" height="24" align="middle">
                            {% endif %}
                        </div>

                        <div class="change-num" id="txn-expense-percent"><span class="change-number" style="color: {{ color }};">{{ expense_per }} %</span> MoM</div>
                    </div>
                </div>

                <div class="support-links">
                    <a href="{{ url_for('main.profile') }}" class="support-link">
                        <div style="width: 80%; display: flex; align-items: center;">
                            <img src="{{ url_for('static', filename = 'icons/history.svg') }}"
                                alt="History" width="18" height="18" align="middle"
                                style="margin: 0px 10px">
                            History
                        </div>
                        <img src="{{ url_for('static', filename = 'icons/chevron--right.svg') }}"
                            alt="Link" width="18" height="18" align="middle"
                            style="margin: 0px 10px">
                    </a>

                    <div class="support-link" id="modal-trigger-1">
                        <div style="width: 80%; display: flex; align-items: center;">
                            <img src="{{ url_for('static', filename = 'icons/analytics.svg') }}"
                                alt="Analytics" width="18" height="18" align="middle"
                                style="margin: 0px 10px">
                            Category Trends
                        </div>
                        <img src="{{ url_for('static', filename = 'icons/chevron--right.svg') }}"
                            alt="Link" width="18" height="18" align="middle"
                            style="margin: 0px 10px">
                    </div>

                    <div class="modal" id="modal-1">
                        <div class="modal-content-container" style="width: unset;">
                            <div class="modal-content" id="modal-content-1">
                                <div style="font-size: 18px; margin: 10px 0px;">Historical Category Trends</div>
                                <form class="date-picker-form" id="category-history" novalidate>
                                    {{ form2.csrf_token }} 
                                    {{form2.selectCat(style="border-radius: 5px; padding: 5px 10px;") }} 
                                    {% if form2.errors %} 
                                        {{ form2.errors }} 
                                    {% endif%} 
                                    {{ form2.submit(class_ = "button submit-btn") }}
                                </form>
                                <div class="d3-graph" id="graphDiv2"></div>
                            </div>
                            <div class="modal-close" id="modal-close-1">&times;</div>
                        </div>
                    </div>
            
                    <script>
                        var modal1 = document.querySelector("#modal-1");
                        var modalTrigger1 = document.querySelector("#modal-trigger-1");
                        var modalClose1 = document.querySelector("#modal-close-1");

                        function toggleModal() {
                            modal1.classList.toggle("show-modal");
                        }

                        modalTrigger1.addEventListener("click", toggleModal);
                        modalClose1.addEventListener("click", toggleModal);
                    </script>
                </div>
            </div>

            <div class="data-graph-container">
                <div class="d3-graph" id="graphDiv1"></div>
            </div>

            <script type="text/javascript">
                var gDat1_e = {{ txn_E.graph_data | safe }};
                var gDat2 = {{ catD.graph_data | safe }};
            </script>
            <script type="module" src="{{ url_for('static', filename='js/monthlyTrendsD3.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/monthlyTrendsD3Func.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/monthlyTrendsAjax.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/historicalCategoryTrendsD3.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/historicalCategoryTrendsD3Func.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/historicalCategoryTrendsAjax.js') }}"></script>
        </div>

        <div class="banner" id="banner-1">
            <img src="{{ url_for('static', filename = 'icons/wallet.svg') }}" alt="Analytics" width="32" height="32" align="middle">
            
            <div class="banner-title">Your Wallet</div>
    
            <div class="banner-steps">
                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/activity.svg') }}" alt="Analytics" width="22" height="22" align="middle">
                    Track your spends
                </div>
    
                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/money.svg') }}" alt="Money" width="22" height="22" align="middle">
                    Save on 'em
                </div>
    
                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/increase-level.svg') }}" alt="Increase" width="22" height="22" align="middle">
                    Watch 'em grow!
                </div>
            </div>
        </div>
    </div>

    
</div>

<div class="level-container" id="level-2">

    <div class="data-type-title" id="title-2">
        <div style="font-size: 20px; font-weight: 400;">
            Mutual Funds <span id="txn-data-for">(as on {{ mfp.loc[0, 'As On Date'] }})</span>
        </div>

        <div style="margin-top: 10px; margin-bottom: 10px; font-size: 15px; display: flex; justify-content: center;">
            Hide/Unhide Data: <input type="checkbox" onclick="hideUnhide(this)" style="margin-left:5px; margin-top:3px" />
        </div>
    </div>

    

    <div class="data-type-container">
        <div class="data-container">
            <div class="summary-stats">
                {% set total_invested = mfp['Total Investment'] | sum() | round | int %}
                {% set current_value = mfp['Total Value'] | sum() | round | int %}
                <div class="stats" id="stats-21">
                    <div class="stat-title">Total Invested</div>

                    <div class="stat-num hide-unhide" id="txn-income">₹ {{ total_invested }}</div>

                    <div style="height: 24px"></div>
                </div>

                <div class="stats" id="stats-22">
                    <div class="stat-title">Current Value</div>

                    <div class="stat-num hide-unhide" id="txn-expense">₹ {{ current_value }}</div>

                    <div style="height: 24px"></div>
                </div>

                <div class="stats" id="stats-23">
                    <div class="stat-title">Total Returns</div>

                    <div class="stat-num hide-unhide" id="txn-expense">₹ {{ current_value - total_invested }}</div>

                    <div class="stat-change">
                        {% set returns_per = (1 - (total_invested/current_value))*100 %}
                        <div class="change-caret" id="mf-returns-caret">
                            {% if returns_per >= 0 %}
                                {% set color = "#00C013" %}
                                <img src="{{ url_for('static', filename = 'icons/caret--up.svg') }}" alt="Increase" width="24" height="24" align="middle">
                            {% else %}
                                {% set color = "#C00000" %}
                                <img src="{{ url_for('static', filename = 'icons/caret--down.svg') }}" alt="Increase" width="24" height="24" align="middle">
                            {% endif %}
                        </div>

                        <div class="change-num hide-unhide" id="mf-returns-percent"><span  class="change-number" style="color: {{ color }};">{{ '%0.1f'|format(returns_per|abs) }} %</span> MoM</div>
                    </div>
                </div>

                <div class="stats" id="stats-22">
                    <div class="stat-title"># of Funds</div>

                    <div class="stat-num" id="txn-expense">{{ mfp | length }}</div>

                    <div style="height: 24px"></div>
                </div>
            </div>

            <div class="data-graph-container">
                <div class="d3-graph" id="graphDiv3"></div>
            </div>

            <script type="text/javascript">
                var gDat3 = {{ mf_full_data.graph_data | safe }};
            </script>
            <script type="module" src="{{ url_for('static', filename='js/mfTrendsD3.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/mfTrendsD3Func.js') }}"></script>

            <div class="mf-individual">
                {% for _, ii in mfp.iterrows() %}
                    <hr/>
                    <div class="mf-box">
                        <div class="fund-name">{{ ii['Fund Name'] }}</div>
                        <div class="summary-stats" style="padding: 10px 0px;">
                            <div class="stats">
                                <div class="stat-title" style="font-size: 13px;">Invested</div>
                                <div class="mf-stat-num hide-unhide">₹ {{ ii['Total Investment']|int }}</div>
                            </div>

                            <div class="stats">
                                <div class="stat-title" style="font-size: 13px;">Current Value</div>
                                <div class="mf-stat-num hide-unhide">₹ {{ ii['Total Value']|int }}</div>
                            </div>

                            <div class="stats">
                                <div class="stat-title" style="font-size: 13px;">Returns</div>

                                {% if ii['P&L'] >= 0 %}
                                    {% set color = "#00C013" %}
                                {% else %}
                                    {% set color = "#C00000" %}
                                {% endif %}

                                <div class="mf-stat-num hide-unhide" style="color: {{ color }}; font-weight: 700;">₹ {{ ii['P&L']|int }} ( {{ ii['P&L %']|round(1, 'floor') }} % )</div>
                            </div>

                            <div class="stats">
                                <div class="stat-title" style="font-size: 13px;">Holding for</div>
                                <div class="mf-stat-num">{{ moment(ii['Investing Since']).toNow(true) }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="banner" id="banner-2">
            <img src="{{ url_for('static', filename = 'icons/wallet.svg') }}" alt="Analytics" width="32" height="32" align="middle">
            
            <div class="banner-title">Your Wealth</div>
    
            <div class="banner-steps">
                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/microscope.svg') }}" alt="Analytics" width="22" height="22" align="middle">
                    Research
                </div>

                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/money.svg') }}" alt="Money" width="22" height="22" align="middle">
                    Invest in 'em
                </div>

                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/time.svg') }}" alt="Analytics" width="22" height="22" align="middle">
                    Stay put
                </div>
    
                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/activity.svg') }}" alt="Analytics" width="22" height="22" align="middle">
                    Track 'em
                </div>
    
                <div class="banner-step">
                    <img src="{{ url_for('static', filename = 'icons/increase-level.svg') }}" alt="Increase" width="22" height="22" align="middle">
                    Watch 'em grow!
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/hideUnhide.js') }}"></script>

{% endblock %}