/* Total user view */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 300;
    scrollbar-width: thin;
    scrollbar-color: rgb(24, 23, 69) #F5F7F9;
}

*::-webkit-scrollbar{
    width: 8px;
    height: 5px;
    background-color: #F5F7F9;
}

*::-webkit-scrollbar-track{
    border-radius: 0;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(24, 23, 69);
    border: 2px solid #F5F7F9;
}

*::-webkit-scrollbar-corner{
    background-color: transparent;
}

abbr {
    position: relative;
}
    
abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 5px;
    background: rgb(255, 255, 255);
    font-weight:100;
    content: attr(title);
    border-radius:5px;
}

a{
    text-decoration: unset;
    color: #327fd7;
}

/* Base html */
body{
    background-color: #F5F7F9;
}

.page-container{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.sidenav{
    width: 150px;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links{
    margin-top: 20px;
}

.sidenav a{
    width: 95%;
    padding: 20px 20px 20px 0px;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.sidenav a:hover{
    color: black;
}

.snav-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.snav-select a{
    color: black;
}

.logo{
    text-align: center;
    margin: 20px 0px;
    font-size: 62px;
    background: linear-gradient(90deg, #327FD7 30%, #00C013 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}

.content-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 150px;
    width: 100%;
}

.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#topnav-title{
    display: flex;
    font-size: 24px;
    align-items: center;
    width: 90%;
    justify-content: center;
}

#topnav-link{
    margin: 0px 30px;
    display: flex;
    align-items: center;
}

.nav-modal{
    position: fixed; /* Stay in place */
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.nav-modal-container{
    position: absolute;
    background-color: #181745;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-modal-close {
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 10px;
    z-index: 1;
    color: black;
}
  
.nav-modal-close:hover{
    background-color: darkgray;
}

.nav-modal-content {
    width: 100%;
}

.main-content-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F5F7F9;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 4%;
}

.level-container{
    width: -webkit-fill-available; /*For webkit based browsers*/
    width: -moz-fill-available;    /*For mozilla based browsers*/
    display: flex;
    flex-direction: column;
}

.data-type-title{
    font-size: 18px;
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

#title-1, #title-2{
    width: clamp(700px, 80%, 800px);;
}

#txn-data-for{
    font-size: 13px; 
    font-style: italic;
}

#monthly-categories{
    display: flex;
}

.datepicker{
    border: unset;
    border-radius: 5px;
    padding: 0px 10px;
}

.button{
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit-btn{
    border: 1px solid #05c012;
    background-color: #05c012;
    color: white;
    letter-spacing: 0.5px;
    margin-left: 20px;
}

.submit-btn:hover{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
}

.data-type-container{
    display: flex;
    flex-direction: row;
}

.data-container{
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px;
    width: clamp(700px, 80%, 800px);;
}

.summary-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px 20px;
}

.stat-title{
    font-size: 15px;
    color: #0000007a;
}

.stat-num{
    font-size: 18px;
    padding: 10px 0px 5px 0px;
}

.stat-change{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.change-caret{
    display: flex;
}

.change-num{
    font-size: 13px;
}

.change-number{
    font-weight: 700;
}

.support-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
    min-width: 250px;
}

.support-link{
    background-color: #F5F7F9;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 0px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: #337fd6;
}

.support-link:hover{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.24), 0 1px 1px 0 rgba(0,0,0,0.19);
}

.d3-graph {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

/* Tooltip for d3.js Graphs */
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 0.2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 0.7rem;
    z-index: 10;
}

.modal{
    position: fixed; /* Stay in place */
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 24rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
}

.modal-close {
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 20px;
    background-color: white;
    padding-top: 2px;
    width: 30px;
    height: 30px;
    margin: 10px;
    z-index: 1;
    color: black;
}
  
.modal-close:hover{
    background-color: darkgray;
}

.modal-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#category-history{
    margin: 10px 0px;
}

.banner{
    flex-grow: 100;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    height: 459px;
}

#banner-1{
    background-color: #e5def1;
}

#banner-2{
    background-color: #d6edda;
}

.banner-title{
    margin: 10px 0px 40px 0px;
    font-family: "Menlo", monospace;
    letter-spacing: -0.5px;
}

.banner-steps{
    height: -webkit-fill-available; /*For webkit based browsers*/
    height: -moz-fill-available;    /*For mozilla based browsers*/
    width: -webkit-fill-available; /*For webkit based browsers*/
    width: -moz-fill-available;    /*For mozilla based browsers*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner-step{
    display: flex;
    align-items: center;
    font-family: "Menlo", monospace;
    letter-spacing: -0.5px;
    font-size: smaller;
}

.banner-step img{
    margin: 0px 10%;
}

.add-btn{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.add-btn:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.flash-msg{
    background-color: rgb(200, 237, 255);
    border: 1.5px solid rgb(3, 120, 139);
    color: black;
    margin: 10px 0px;
    /* padding: 10px; */
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.flash-msg-modal-close{
    font-size: 25px;
    margin: 0px 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.success{
    background-color: rgb(200, 255, 203);
    border: 1.5px solid rgb(8, 172, 3);
}

.warning{
    background-color: rgb(255, 251, 200);
    border: 1.5px solid rgb(243, 239, 11);
}

.danger{
    background-color: rgb(255, 200, 200);
    border: 1.5px solid rgb(252, 27, 27);
}

.modal-form{
    margin-left: 10px;
}

.modal-form-div{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
}

#modal-form-div-label{
    width: 35%;
    display: flex;
    justify-content: flex-start;
}

#modal-form-div-input{
    width: 65%;
}

.add-txn-form-field, .modify-txn-form-field{
    width: 100%;
    padding: 5px;
}

#level-2{
    margin-top: 30px;
}

hr{
    opacity: 40%;
    width: 95%;
    align-self: center;
    border-width: 0;
    height: 1px;
    color: black;
    background-color: grey;
    margin: 2px 0px;
}

.mf-individual {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.mf-box {
    align-items: flex-start;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.fund-name {
    width: auto;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 16px;
}

.mf-stat-num{
    font-size: 14px;
    padding: 10px 0px 5px 0px;
}

table td,
th {
    font-size: 14px;
    padding-left: 10px;
}

.txn-container{
    width: -webkit-fill-available; /*For webkit based browsers*/
    width: -moz-fill-available;    /*For mozilla based browsers*/
    margin: 10px 20%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.txn-functions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actionBtn{
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.actionBtn:hover{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
}

.addUpdate{
    background-color: white;
    border: 2px solid #08b111;
    color: black;
}

.addUpdate:hover{
    background-color: #08b111;
    color: white;
}

.delete{
    background-color: white;
    border: 2px solid #f12e2e;
    color: black;
}

.delete:hover{
    background-color: #f12e2e;
    color: white;
}

.txn-box{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.txn-box:hover{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
}

.txn-box :nth-child(1){
    width: 50%;
}

.txn-box :nth-child(2){
    width: 20%;
}

.txn-box :nth-child(3){
    width: 20%;
}

.txn-box :nth-child(4){
    width: 10%;
}

.txn-cat-comment{
    display: flex;
    flex-direction: column;
}

#txn-category{
    width: 100%;
    margin: 5px 5px 5px 10px;
    font-size: 14px;
    font-weight: bolder;
}

#txn-description{
    width: 100%;
    margin: 5px 5px 5px 10px;
    font-size: 12px;
    font-weight: lighter;
}

.txn-amount{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}

.txn-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.txn-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.paginator{
    width: 40%;
    margin: 20px 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#paginator-link{
    margin-left: 10px;
}

.upload-box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.upload-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #d0d2d4, -10px -10px 20px #ffffff;
}

#upload-data{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.upload-form-elem{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.upload-form-elem-title{
    font-size: 14px;
    margin: 5px 0px;
}

.upload-form-elem-field{
    margin: 5px 0px;
}