<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/loginStyles.css') }}" />
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

        {% if title %}
        <title>{{ title }} - Artha</title>
        {% else %}
        <title>Welcome to Artha - Your Personal Finance Platform!</title>
        {% endif %}
    </head>

    <body>
        <div class="page-container">
            <div class="info">
                <div class="logo-container">
                    <div class="logo">
                        A₹THA
                    </div>

                    <div class="tag-line">Manage your Money</div>
                </div>

                <div class="image">
                    <img src="{{ url_for('static', filename = 'icons/login-illustration.svg') }}" alt="Goals" width="400"
                        height="370" align="middle" style="margin: 0px 10px;">
                </div>
            </div>

            <div class="form-container">
                <div class="form-box">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>